<div class="container mt-5">
    <h2>Crear Visita</h2>

    <form [formGroup]="form">

        <div class="mb-3">
            <label>Provincia</label>
            <select formControlName="provinciaId">
                <option value="">Seleccionar
                </option>
                <option *ngFor="let p of provincias" [value]="p.id">
                    {{ p.nombre }}
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label>Cantón</label>
            <select formControlName="cantonId">
                <option value="">Seleccione</option>
                <option *ngFor="let c of cantones" [value]="c.id">
                    {{ c.nombre }}
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label>Parroquia</label>
            <select class="form-control" formControlName="parroquiaId">
                <option value="">Seleccione</option>
                <option *ngFor="let p of parroquias" [value]="p.id">
                    {{ p.nombre }}
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label>Barrio</label>
            <select class="form-control" formControlName="barrioId">
                <option value="">Seleccione</option>
                <option *ngFor="let b of barrios" [value]="b.id">
                    {{ b.nombre }}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label>Razón Social</label>
            <input type="text" formControlName="razonSocial" class="form-control">
        </div>

        <div class="mb-3">
            <label>Calle Principal</label>
            <input type="text" formControlName="callePrincipal" class="form-control">
        </div>

        <div class="mb-3">
            <label>Próxima Visita</label>
            <input type="date" formControlName="proximaVisita" class="form-control">
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-primary" (click)="obtenerUbicacion()" [disabled]="cargandoUbicacion">

                {{ cargandoUbicacion ? 'Obteniendo ubicación...' : '📍 Dar ubicación' }}

            </button>
        </div>

        <div class="row mt-3">
            <div class="col">
                <label>Latitud</label>
                <input type="text" formControlName="latitud" class="form-control" readonly>
            </div>

            <div class="col">
                <label>Longitud</label>
                <input type="text" formControlName="longitud" class="form-control" readonly>
            </div>
        </div>

        <button type="button" class="btn btn-primary" (click)="crearVisita()" [disabled]="!form.value.barrioId">
            Añadir Visita
        </button>

    </form>
</div>