# Dependencies
node_modules/

# Build
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Optional Docker overrides
docker-compose.override.yml

prisma/migrations/